<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap-responsive.min.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Idea box</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
	<p class="navbar-text pull-right">Logged in as <a href="{{ login_out_url }}">{{ user_name }}</a></p>
          </div><!-- /.nav-collapse -->
        </div>
            <p class="date">{{ idea.date }}</p>
            <p class="date">{{ idea.date }}</p>
      </div>
    </div><!-- /navbar -->
    <div class="container-fluid">
    <div class="content">
      <div class="row idea_list">
        {% for idea in idea_list %}
          <div class="idea" id="{{idea.key.id}}">
            {% if idea.delete_flag %}
            <p class="idea_content">(deleted)</p>
            {% else %}
            <p class="idea_content">{{ idea.content }}</p>
            <p class="author">{{ idea.author }}</p>
            <p class="date">{{ idea.date }}</p>
            <div>
            {% if idea.parent_id %}
            <a name="idea_info" href="#{{ idea.parent_id }}">reply to {{ idea.parent_id }}</a>
            {% endif %}
            <form action="/ideadelete" class="idea_btn" method="post">
              <input type="button" class="btn-mini" value="reply" onclick="reply_idea({{idea.key.id}})" />
              <input type="hidden" name="idea_id" value="{{idea.key.id}}" />
              {% ifnotequal user_name None %}
              {% ifequal user_name idea.author %}
              <input type="submit" class="btn-mini" value="delete" />
              <input type="button" class="btn-mini" value="edit" onclick="edit_idea({{idea.key.id}})" />
              {% endifequal %}
              {% endifnotequal %}
            </form>
            </div>
            {% endif %}
          </div>
        {% endfor %}
      </div><!-- /row -->
    </div><!-- content -->
    <div class="sidebar ideapost">
      <form action="/ideapost" method="post" id="post_idea">
        <div><textarea name="content" rows="3" cols="60" id="post_text"></textarea></div>
        <div><input type="submit" class="btn" value="Post Idea" />
             <span id="post_info"></span></div>
	<input type="hidden" id="post_id" name="post_id" value="0" />
	<input type="hidden" id="reply_id" name="reply_id" value="0" />
      </form>
    </div><!-- /sidebar -->
    </div><!-- /container-fluid -->
    <footer>
    </footer>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/ideabox.js"></script>
  </body>
</html>
